.container {
    border: 2px dotted rgb(157, 18, 18);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
}

.box {
    width: 110px;
    height: 110px;
    border: 2px dashed purple;
    font-weight: bold;
}